body {
  margin: 0;
  background-color: #003300;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.clickable {
  cursor: pointer;
}

.main-format {
  color: #ffffe6;
}

.separator {
  border-color: #ffffcc;
}

.navbar {
  background-color: #001a00;
}
.nav-link {
  background-color: #008000;
  color: #ffffe6;
}
.nav-link.active {
  background-color: #00b300 !important;
  font-weight: bold;
  color: #ffffe6 !important;
  border: 1px solid #00b300 !important;
}
.nav-link:hover {
  background-color: #00b300;
  color: #ffffe6;
}

.btn-primary {
  background-color: #cc33ff;
  border: 1px solid #c61aff;
}
.btn-primary:hover {
  background-color: #9900cc;
  border: 1px solid #8600b3;
}
.btn-primary:disabled {
  background-color: #e699ff;
  border: 1px solid #df80ff;
}
.btn-primary:focus {
  background-color: #9900cc;
  border: 1px solid #8600b3;
}
.btn-primary:active {
  background-color: red;
}
